fastapi
uvicorn
pydantic
python-multipart

google-genai
python-dotenv

langchain
langchain-community
langchain-huggingface

sentence-transformers
faiss-cpu

pypdf

numpy

torch
transformers==4.49.0

protobuf==4.25.8
langchain-text-splitters